<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179957743928-2ji0p7fvjmh17u65j27v17qjaut21fpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179957743928-2ji0p7fvjmh17u65j27v17qjaut21fpb</string>
	<key>API_KEY</key>
	<string>AIzaSyAMsGKFcuSl64Fu-AmiDhFJtQPzSvvTCqE</string>
	<key>GCM_SENDER_ID</key>
	<string>179957743928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.realtimeDatabase</string>
	<key>PROJECT_ID</key>
	<string>realtime-database-les</string>
	<key>STORAGE_BUCKET</key>
	<string>realtime-database-les.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179957743928:ios:8851cae0344d328be0c1cd</string>
	<key>DATABASE_URL</key>
	<string>https://realtime-database-les-default-rtdb.firebaseio.com</string>
</dict>
</plist>